{% load static %}

<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ pr_title }}</title>
        <link rel="stylesheet" href="{% static 'css/dtl.css' %}">
        <script src="{% static 'js/dtl.js' %}"></script>
        <script src=""></script>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li id='logo'>{{ pr_title }}</li>
                    {% if user.is_authenticated %}
                      <li class="navlink"><a href="{% url 'logout_user' %}"> Logout</a></li>
                      <li class='navlink'></li>
                      <li class="navlink"><a href="{% url 'index' %}"> About</a></li>
                      <li class="navlink"><a href="{% url 'index' %}"> Home</a></li>
                    {% else %}
                     <li class="navlink"><a href="{% url 'login_page' %}">Login</a> </li>
                     <li class="navlink"><a href="{% url 'register' %}">Register</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <div id="pagecontent">
            {% if user.is_authenticated %}
            {% with messages='custom flash message' %}
            
            {% if messages %}
            <div id="flash_message">
                <p class="messages">{{messages}}</p>
                <button id="close_btn" onclick="hide('flash_message')">Close</button>
            </div>

            {%endif %}
            {% endwith %}

            <h1>Mr/Mrs.{{ username }} logged into {{pr_title}} successfully.</h1>
 
            {% endif %}
        
         {% block content %}
        <!-- during inheritence this will be the only thing that changes on all the other pages.
        this is where the content of other pages wil be fixed as the rest of the data remains constant. -->
        {% endblock %}
        </div>
    </body>
    <footer>
        <p id="footer_txt">&copy;<b>Designed by Bruce.</b></p>
    </footer>

</html>