{% extends 'base.html' %}
{% block content%}
{% load static %}

    <h1>My Custom Register Page.</h1>
    <form action="{% url 'registration' %}" id="reg_form" method="POST" enctype="multipart/form-data">
        <!-- csrf is a way to tell django that the posted data is within the same application.
        it is also a security feature against SQL injection -->
        {% csrf_token %}
        <div class="regdiv">
            <!-- all data captured within a form can be accessed in the views 
            using the name of that field -->
            <select name="gender" required>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
            <br>
            <input placeholder="Username" name="username" type="text"
            required>
            <br> 
            <input placeholder="Email" name="user_email" type="email" required> 
            <br>
            <input placeholder="Password" name="password" type="password" required>
            <br>
            <input placeholder="Confirm Password" required="password" type="password"> 
            <br> 
            <input type="submit" class="button1" title="Signup" id="signupbtn"> 
            
        </div>
    </form>
{% endblock %}