{% load static %}

<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ pr_title }}</title>
        <link rel="stylesheet" href="{% static 'css/dtl.css' %}">
        <script src=""></script>
    </head>
    <body>
        <header>

            <nav>
                <ul>
                    <li id='logo'>{{ pr_title }}</li>
                    {% if user.is_authenticated %}
                     <li class='navlink'>{{user.name}}</li>
                    {% else %}
                     <li class="navlink">Login</li>
                     <li class="navlink">Register</li>
                    {% endif %}
                    <li class="navlink">About</li>
                    <li class="navlink">Home</li>
                </ul>
            </nav>
        </header>
        <form action="" id="reg_form">
            <div class="regdiv">
                <select name="gender" >
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
                <br>
                <input placeholder="Username" name="username" type="text">
                <br> 
                <input placeholder="Email" name="email" type="email"> 
                <br>
                <input placeholder="Password" name="password" type="password">
                <br>
                <input placeholder="Confirm Password" required="password" type="password"> 
                <br> 
                <input type="submit" class="button1" title="Signup" id="signupbtn"> 
                
            </div>
        </form>
        <footer></footer>
    </body>
</html>