header{
    background-color: #1b1464;
    color: white;
    min-height: 70px;
    padding-top: 30px;
}

body{
    text-decoration: none;
}

.navlink{
    float: right;
    margin-right: 20px;
    
}
header li{
    display: inline;
    padding: 0px 20px;
    font-size: 24px;

}

header a{
    text-decoration: none;
    color: white;
    
}

#logo {
    color: yellow;
}
.regdiv{
    width: 80%;
    padding: 15px;
    margin-left: 140px;
    text-align: center;
    
}
.regdiv select{
    width: 83%;
    padding: 15px;
    margin: 20px;
    margin-left: 25px;
    
}

.regdiv input{
    width: 80%;
    padding: 15px;
    margin: 20px;
    margin-left: 25px;
    
}

#login_form{
    padding-top: 15px;
    margin-top: 5%;
    padding-bottom: 5%;
}



.button1:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19) ;
    color: white;
    background-color: #1b1464;
    font-size: 16px;
}
#signupbtn{
    width: 30%;
}

#flash_message{
    color: green;
    background: aliceblue;
    width: 60%;
    text-align: center;
    margin:1% 20%;
    padding-top: 5px;

}

footer{
    display: flex;
    text-align: center;
    bottom: 0px;
    left: 0px;
    position:relative;
    background-color: aliceblue;
    height: 50px;
    width: 100%;
    padding: 2px;
}
#pagecontent h1{
    text-align: center;
}
#footer_txt p{
    text-align: center;
    
}
#close_btn{
    color: white;
    background-color: red;
}