header{
    background-color: #1b1464;
    color: white;
    min-height: 70px;
    padding-top: 30px;


}

.navlink{
    float: right;
    margin-right: 20px;
    
}
header li{
    display: inline;
    padding: 0px 20px;
    font-size: 24px;

}

header a{
    text-decoration: none;
    color: white;
    
}

#logo {
    color: yellow;
}
.regdiv{
    width: 80%;
    padding: 15px;
    margin-left: 140px;
    
}
.regdiv select{
    width: 83%;
    padding: 15px;
    margin: 20px;
    margin-left: 25px;
    
}

.regdiv input{
    width: 80%;
    padding: 15px;
    margin: 20px;
    margin-left: 25px;
    
}
.regdiv{
    text-align: center;

}











.button1:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19) ;
    color: white;
    background-color: #1b1464;
    font-size: 16px;
}
#signupbtn{
    width: 30%;
}