header{
    background-color: #1b1464;
    color: white;
    min-height: 70px;
    padding-top: 30px;


}

.navlink{
    float: right;
    margin-right: 20px;
    
}
header li{
    display: inline;
    padding: 0px 20px;
    font-size: 24px;
}